# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Django
staticfiles/
media/
local_settings.py

# Environment Variables
.env

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/

